<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:replace="/fragments/header :: headerFragment">
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Price</th>
        <th>Product Type</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    <tr th:each="p : ${productsList}">
        <td th:text="${p.id}">ID</td>
        <td th:text="${p.title}">Title</td>
        <td th:text="${p.description}">Description</td>
        <td th:text="${p.pictureUrl}">Picture</td>
        <td th:text="${p.price}">Price</td>
        <td th:text="${p.productType.plName}">Product Type</td>
        <td th:text="${p.category}">Category</td>
<!--        <td><a th:href="@{'/products/' + ${p.id}}">Edytuj produkt</a></td>-->
        <td><a th:href="@{/products/{id}(id=${p.id})}">Edytuj produkt</a></td>
    </tr>
</table>

<hr>
<form action="/products" method="post">
    <input name="title" placeholder="Title"><br>
    <input name="description" placeholder="Description"><br>
    <input name="pictureUrl" placeholder="Picture URL"><br>
    <input name="price" type="number" step="0.01" placeholder="Price"><br>
    <select name="productType">
        <option th:value="''"
                th:text="'Choose type'">

        </option>
        <option th:each="t : ${productTypesList}"
                th:value="${t}"
                th:text="${t.plName}">
        </option>
    </select>
    <select name="categoryId">
        <option th:value="''"
                th:text="'Choose category'"></option>
        <option th:each="c : ${categoriesList}"
                th:value="${c.id}"
                th:text="${c.id} + ' ' + ${c.categoryName}" id="parentsList"></option>
    </select>
    <button>Add product</button>
</form>
</body>
</html>